<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="log_file_location" value ="C:\ProgramData\SLUHN\Trapper Keeper"/>
    <add key="Citrix-Cloud-API-ID" value="bc9ccf97-459c-4b54-a629-07ffeb4dede5"/>
    <add key="Citrix-Cloud-API-Secret" value="ZlCG2uYVgTeJL911jlpZXA=="/>
    <add key="Citrix-Cloud-Customer-Id" value="xmzwbvrli80f"/>
    <add key="Citrix-Cloud-Site-ID" value="b393eeb4-92d9-46b6-9653-0aef05b5b388"/>
  </appSettings>
</configuration>